---
import ModeratorLayout from "../../layouts/ModeratorLayout.astro";
---

<ModeratorLayout title="ModLand (print shop)">
    <h1 class="text-3xl font-semibold text-slate-900">Moderator home</h1>
    <p class="mt-2 text-slate-600">Mod Page now.</p>
</ModeratorLayout>